{% extends 'base.html.twig' %}

{% block title %}New MerchandiseWay{% endblock %}

{% block body %}
    <h1>Create new MerchandiseWay</h1>

    {{ include('merchandise_way/_form.html.twig') }}

    <a href="{{ path('region_show', {'id': region.id}) }}">back to the region</a>
{% endblock %}
