{% extends 'base.html.twig' %}

{% block title %}New Infrastructure{% endblock %}

{% block body %}
    <h1>Create new Infrastructure</h1>

    {{ include('infrastructure/_form.html.twig') }}

    <a href="{{ path('region_show', {'id': region.id}) }}">back to the region</a>
{% endblock %}
