{% extends 'base.html.twig' %}

{% block title %}Building{% endblock %}

{% block body %}
    <h1>Building</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ building.id }}</td>
            </tr>
            <tr>
                <th>Life</th>
                <td>{{ building.life }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ building.buildingType.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('region_show', {'id': building.region.id}) }}">back to the Region</a>
{% endblock %}
